app-user {
    display: flex;
    align-items: center; 
}
button{
    display: none;
}
@media screen and (width <= 600px){
    app-nav-bar{
        display: none;
    }
    button{
        display: block;
        background-color: #458FF6;
        width: 4rem;
        height:41px;
        border: none;
        border-radius:5px;
        font-size: 18px;
        color: white;
    }
}