app-liste-donnee-footer{
    justify-content: space-between;
}

@media screen and (width > 600px){
    app-desc-footer{
        width: 25%;
    }
}

@media screen and (width <= 600px){
    app-desc-footer{
        width: 100%;
        text-align: left;
    }
    app-liste-donnee-footer{
        text-align: left;
        width: 100%;
    }
}

