header {
  background-color: antiquewhite;
  padding-block: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;

  &:hover {
    color: red;
  }
}

.current {
  color: green;
}

nav a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
