ul{
    list-style: none;
    padding: 0;
}
h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 0%;
}
li{
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0%;
}
