h1{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 50%; /* Cercle parfait */
    background: rgba(69, 143, 246, 1);
    color: white; /* Nécessaire pour bien voir l'effet */
    font-weight: bold;
    font-size: 30px;
    mix-blend-mode: multiply; /* Rend le texte "trouant" */
}
