/* Section principale */
section {
    padding: 1rem;
    background-color: #f8f9fa; /* Fond clair */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Conteneur de voyage */
section div {
    flex: 1;
}

/* Liste des détails du voyage */
section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section li {
    margin-bottom: 0.5rem;
}

/* Bouton de suppression */
.btn-danger {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-danger:hover {
    background-color: #c82333;
}
