@media screen and (width <= 600px){
    img{
        display: none;
    }
    app-desc-virtual-hearth{
        padding-right: 0;
    }
}

    img{
        width: 693px;
        height: 598px;
    }
    app-desc-virtual-hearth{
        padding-right: 5rem;
    }

