app-header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
app-virtual-hearth{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

app-our-services{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}
@media screen and (width <= 600px){
    app-footer{
        flex-direction: column;
    }
}

app-footer{
    display: flex;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: white;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    padding: 5rem;
}