<div class="modal-header bg-primary text-white">
    <h2 class="modal-title">Creation de voyages</h2>
</div>
<section class="sectionGeneration">
    <h3>Votre voyage : </h3>
    <div class="apercuVoyage">
        <ul>
            <li><h3>{{voyageGenere.destination}}</h3></li>
            <li><p>{{voyageGenere.description}}</p></li>
            <li><p>À partir de {{voyageGenere.prix}}€</p></li>
        </ul>
    </div>
    <p>Vous êtes sur de vous ?</p>
    <button class="btn btn-primary boutonAccepter" (click)="ajouterVoyage()">Oui</button>
    <button class="btn btn-success" (click)="regenererVoyage()">Creer</button>
</section>    